.order-modal-container{
    display: none;
}

.order-modal-content > div{
    border: 1px solid gray;
    margin: 10% auto;
    box-shadow: 10px 10px 10px lightslategrey;
    width: 70%;
}
 
@media(min-width:910px){
    .order-modal-container{
        display:none;
        position: fixed;
        width:100%;
        height:100%;
        top:0;
        left:0;
        background-color: rgb(0,0,0,0.9);
        overflow: auto;
    }

    .order-modal-content{
        width:70%;
        margin:10% auto;
        background-color: #E4EBF2;
        padding:2rem;
        overflow: auto;
        animation-name: order-modal-show;
        animation-duration: 2s;
        z-index: 1;
    }

    .order-modal-close{
        float:right;
        color: #ccc;
        font-size:2rem;
    }

    .order-modal-close:hover{
        cursor: pointer;
    }

    .order-modal-content__text{
        padding: 0 2rem;
    }
    .order-to-cart__container{
        display:none;
        background-color: white;
    }

    @keyframes order-modal-show {
        from{opacity: 0;}
        to{opacity: 1;}
    }
}

@media(min-width:1150px){
    .order-modal-content > div{
        width:60%;
    }
}